.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sideForm {
  position: absolute;
  padding: 0.5em;
  width: 40vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #999;
  overflow: scroll;
}

.recipes {
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 40vw;
  background-color: #eee;
  overflow: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
